<div role="main">
    <div class="container">
        <div class="pagelayout">
            <div class="pageheader">
                {{#if redeemer }}
                <h1>You've been naughty {{ callout.shortName }}! Donate to a great cause and reedem yourself</h1>
                {{else}}
                    {{#if callout.redeemed }}
                <h1>Congratulations {{ callout.shortName }}! You have redeemed yourself.</h1>
                    {{else}}
                <h1>Support {{ callout.shortName }}'s path to redemption by making a donation</h1>
                    {{/if}}
                {{/if}}
            </div>
            <div class="pagebody clearfix bottomrounder">
                <div class="col-md-4">
                    <form class="roundbox" action="/paypal/{{ callout.id }}{{#if redeemer}}/redeemer{{/if}}" method="post">
                        <h3 style="font-weight: lighter;">Redeemer</h3>
                        <div>
                            <img src="{{ redeemerImg }}" width="100%" alt="..." class="img-thumbnail">
                        </div><br>
                        <h2>
                            <strong>{{ callout.name }}</strong>
                        </h2>
                        <hr>
                        {{#if redeemer }}
                        <h4 class="text-center">Donate to Redeem Yourself</h4>
                        {{else}}
                            {{#if redeemed }}
                            <h3 class="text-center">{{ callout.shortName }} has redeemed himself!</h4>
                            <p>Continue donating to support Nizar's redemption.</p>
                            {{else}}
                            <h4 class="text-center">Make a Donation</h4>
                            {{/if}}
                        {{/if}}
                        {{#if redeemer }}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Pay $2 to redeem">
                        {{else}}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Donate $2">
                        {{/if}}                        
                        <input type="hidden" name="defaultAmount" value="2">
                        <p class="text-center">
                            or
                        </p>
                        <div class="form-group">
                            <select class="form-control" name="customAmount">
                                <option value="2" selected>Select a different amount</option>
                                <option value="10">$10</option>
                                <option value="20">$20</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                            </select>
                        </div>
                        {{#if redeemer }}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Pay to redeem">
                        {{else}}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Donate now">
                        {{/if}}
                        <hr>
                        <a type="button" class="btn btn-default btn-block">Share on Facebook</a> <a type="button" class="btn btn-default btn-block">Share on Twitter</a>
                    </form>
                </div>
                <div class="col-md-8">
                    <p class="lead">
                        {{ callout.description }}
                    </p>
                    <div class="clearfix">
                        <img src="{{#if callout.fbid}}//graph.facebook.com/{{callout.fbid}}/picture{{else}}/images/chuck.jpg{{/if}}" width="50px" height="50px" alt="..." class="img-circle pull-left">
                        <p class="pull-left" style="line-height:50px; margin-left:10px;">
                            <strong>Caller:</strong> {{ callout.name }}
                        </p>
                    </div>
                    <hr>
                    <br>
                    <h2>
                            <strong>With your donation you will be making a contribution to the following local non-profit:</strong>
                        </h2>
                    <div class="roundbox clearfix">
                        <img src="/images/nonprofit.jpg" width="180px" height="139px" alt="..." class="img-thumbnail pull-left" style="margin-right: 20px;">
                        <p class="lead">
                            <strong>Take Stock in Children</strong> provides a unique opportunity for deserving low-income youth/students, many from minority families, to escape the cycle of poverty through education. They offer their students college scholarships, caring volunteer mentors and hope for a better life. Their comprehensive services start in middle school, continue through high school and include their transition into college.
                        </p>

                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div><br>
    <br>
    <br>
</div>