<div role="main">
    <div class="container">
        <div class="pagelayout">
            <div class="alert alert-success">
                Well done! You successfully call out {{ callout.shortName }}.
            </div>
            <div class="pageheader">
                <h1>
                    Support {{ callout.shortName }}'s path to redemption by making a donation
                </h1>
            </div>
            <div class="pagebody clearfix bottomrounder">
                <div class="col-md-4">
                    <form class="roundbox" action="/paypal/{{ callout.id }}" method="post">
                        <h3 style="font-weight: lighter;">
                            Redeemer
                        </h3>
                        <div>
                            <img src="{{ redeemerImg }}" width="100%" alt="..." class="img-thumbnail">
                        </div><br>
                        <h2>
                            <strong>{{ callout.name }}</strong>
                        </h2>
                        <hr>
                        <h4 class="text-center">Make a Donation</h4>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Donate $2">
                        <input type="hidden" name="defaultAmount" value="2">
                        <p class="text-center">
                            or
                        </p>
                        <div class="form-group">
                            <select class="form-control" name="customAmount">
                                <option value="2" selected>Select a different amount</option>
                                <option value="10">$10</option>
                                <option value="20">$20</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Donate now">
                        <hr>
                        <a type="button" class="btn btn-default btn-block">Share on Facebook</a> <a type="button" class="btn btn-default btn-block">Share on Twitter</a>
                    </form>
                </div>
                <div class="col-md-8">
                    <p class="lead">
                        {{ callout.description }}
                    </p>
                    <div class="clearfix">
                        <img src="/images/chuck.jpg" width="50px" height="50px" alt="..." class="img-circle pull-left">
                        <p class="pull-left" style="line-height:50px; margin-left:10px;">
                            <strong>Caller:</strong> Jorge L.
                        </p>
                    </div>
                    <hr>
                    <br>
                    <h2>
                            <strong>With your donation you will be making a contribution to the following local non-profit:</strong>
                        </h2>
                    <div class="roundbox clearfix">
                        <img src="/images/nonprofit" width="180px" height="139px" alt="..." class="img-thumbnail pull-left" style="margin-right: 20px;">
                      
                        <p class="lead">
                            <strong>Take Stock in Children</strong> provides a unique opportunity for deserving low-income youth/students, many from minority families, to escape the cycle of poverty through education. They offer their students college scholarships, caring volunteer mentors and hope for a better life. Their comprehensive services start in middle school, continue through high school and include their transition into college.
                        </p>
                        <p>Our program is based on the principal that given extensive support, motivation and accountability, children will work hard to ensure that they graduate from high school and attain a college degree. We fund our college scholarships and student services through a unique public-private fund raising model, and our mentors generously volunteer their mentoring services to our children.</p>
                        <p>

Take Stock in Children’s multi-year commitment to at-risk children throughout our state is also an investment in the communities in which our students live. We know that the education of a child is an investment in their future and the assured way of breaking the cycle of poverty. Our goal is to continue to reduce the number of high school drop-outs and to increase the number of students who finish college and enter the workforce successfully.
</p>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div><br>
    <br>
    <br>
</div>